<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    {{ data.id }}</br>
    {{ data.firstName}},
    {{data.lastName}}
    {{data.lastName}},

    {{ message }}</br>
    ID:{{ user.id }}</br>
    NAME:{{ user.name }}

  </body>
</html>